{% extends "base_template.html" %}

{% block titulo %}
Bienvenido al sitio!
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="col">
        <div class="row">
            <h1>Registro de usuarios</h1>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Clave</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repetir Clave</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <h1>Acceso de usuarios</h1>
        </div>
    </div>
</div>
{% endblock %}