{% extends "base_template.html" %}

{% block titulo %}
Bienvenido al sitio!
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="col">
        <div class="row">
            <h1>Registro de usuarios</h1>
            <form action="/auth" method="POST">
                {{ form_registro.hidden_tag() }}
                <div class="mb-3">
                    {{ form_registro.nombre.label }}
                    {{ form_registro.nombre(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form_registro.correo.label }}
                    {{ form_registro.correo(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form_registro.clave.label }}
                    {{ form_registro.clave(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form_registro.confirmar_clave.label }}
                    {{ form_registro.confirmar_clave(class="form-control") }}
                  </div>
                {{ form_registro.submit }}
              </form>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <h1>Acceso de usuarios</h1>
        </div>
    </div>
</div>
{% endblock %}