{% extends "base_template.html" %}

{% block titulo %}
Bienvenido al sitio!
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-6">
                <h1>Registro de usuarios</h1>
                <form action="/register" method="POST">
                    {{ form_registro.hidden_tag() }}
                    <div class="mb-3">
                        {{ form_registro.nombre.label }}
                        {{ form_registro.nombre(class="form-control") }}
                        {% for error in form_registro.nombre.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form_registro.correo.label }}
                        {{ form_registro.correo(class="form-control") }}
                        {% for error in form_registro.correo.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form_registro.clave.label }}
                        {{ form_registro.clave(class="form-control") }}
                        {% for error in form_registro.clave.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form_registro.confirmar_clave.label }}
                        {{ form_registro.confirmar_clave(class="form-control") }}
                    </div>
                    {{ form_registro.submit(class="btn btn-primary") }}
                </form>
        </div>
        <div class="col-6">
                <h1>Acceso de usuarios</h1>
                <form action="/login" method="POST">
                    {{ form_acceso.hidden_tag() }}
                    {{ form_acceso.correo.label }}
                    {{ form_acceso.correo(class="form-control") }}
                    {{ form_acceso.clave.label }}
                    {{ form_acceso.clave(class="form-control") }}
                    <br>
                    {{ form_acceso.submit(class="btn btn-primary") }}
                </form>
        </div>
    </div>
</div>
{% endblock %}