{% extends "base_template.html" %}
{% block titulo %}
    Curso: {{ curso.nombre }}
{% endblock %}

{% block contenido %}
<div class="container">
    <br>
    <h2>Estudiantes de {{ curso.nombre }}</h2>

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
        
            {% for estudiante in curso.estudiantes %}
            <tr>
                <td>{{ estudiante.usuario["nombre"] }}</td>
                <td>{{ estudiante.usuario["apellidos"] }}</td>
                <td>{{ estudiante.usuario["edad"] }} </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/home"><strong>Inicio</strong></a>
</div>
{% endblock %}