{% extends "base_template.html" %}
{% block titulo %}
    Cursos
{% endblock %}

{% block contenido %}
    <div class="container text-center">
        <br>
        <div class="row">
            <div class="col">
                    <h2>Nuevo Curso</h2>
                    <br>
                    
                    <form action="/agregar_curso">
                      {{ formulario_curso.nombre.label }}
                      {{ formulario_curso.nombre }}
                      {{ formulario_curso.submit }}
                    </form>
            </div>
            <div class="col-6">
                <h2>Todos los cursos</h2>   
            </div>
        </div>    
    </div>
{% endblock %}